# DO NOT OVERWRITE WITH YOUR CREDENTIALS
# This template file must be copied to .env (which is not git-tracked) and that files should then contain your creds

# Name the service
APP_NAME="Document Ingestion Router"

# Manually fixed bearer token for authenticating to this service
API_KEY=your-api-key

# Access info for tika server
TIKA_BASE_URL=http://your-tika-server-url
TIKA_USER=your-tika-user-name
TIKA_PASSWORD=your-tika-password

# HTTP Client connection pool settings to tika
HTTP_MAX_CONNECTIONS=100
HTTP_MAX_KEEPALIVE_CONNECTIONS=20
HTTP_KEEPALIVE_EXPIRY=30.0
HTTP_ENABLE_HTTP2=true

# HTTP Client timeout settings (in seconds) to tika
HTTP_TIMEOUT_CONNECT=10.0
HTTP_TIMEOUT_READ=600.0
HTTP_TIMEOUT_WRITE=60.0
HTTP_TIMEOUT_POOL=10.0